{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}

<form class="row gy-2 gx-3 align-items-center" id = "formadd" action = "/add" method ="post">
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingSelect">Preference</label>
    <select class="form-select" id="autoSizingSelect" form = "formadd" name = "category">
      <option selected>Category...</option>
      <option value="Studies">Studies</option>
      <option value="Academic">Academic</option>
      <option value="Training">Training</option>
      <option value="Professional">Professional</option>
      <option value="Social">Social</option>
      <option value="Other">Other</option>
    </select>
  </div>

  <div class="col-auto">
      <label class="visually-hidden" for="autoSizingInput">Name</label>
      <input type="text" row="3" class="form-control" id="autoSizingInput" placeholder="Description" name = "description">
    </div>

    <div class="col-auto">
      <label class="visually-hidden" for="autoSizingInputGroup"></label>
      <div class="input-group">
        <input type="date" class="form-control" id="autoSizingInputGroup" name = "date" >
      </div>
    </div>


    </div>
    <p>
    <div class="col-auto" id="submit" >
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </p>
  </form>
{% endblock %}
