{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<div class="tableContainer">
<table >
    <thead >
        <tr>
            <th>Category</th>
            <th>Description</th>
            <th>List</th>
            <th>Deadline</th>
            <th>Archived</th>
            <th>Status</th>
            <th>Restore</th>
        </tr>
    </thead>
        <tbody>
            {% for key in data %}
            <tr>
                <td >
                    <div class={{ key.categories }}>
                    {{ key.categories }}
                </div>
                </td>
                <td>
                    {{ key.description }}
                </td>
                <td>
                    {{ key.list }}
                </td>
                <td>
                    {{ key.date }}
                </td>
                <td>
                    {{ key.dateefin }}
                </td>
                <td>
                    <div class="{{ key.how }}">
                    {{ key.how }}
                </div>
                </td>
                <td >
                    <button id="restore" value="{{key.description}}">Restore</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>
</div>
{% endblock %}
