{% extends "layout.html" %}

{% block title %}
Main
{% endblock %}

{% block main %}
<body>
    <div class="containerBody" ;">
        {% for key in usertodo %}
        <div class="cardContainer">
            <div class="card {{key.categories}}">
                <div class="colorBar"></div>
                <div class="top">
                    <h5>{{ key.categories }}</h5>
                    <h6>{{key.list}}</h6>
                    <h6>{{key.date}}</h6>
                    <p>{{key.description}}</p>
                </div>
                <div class="buttons">
                    <button id="fin" value="{{key.description}}">✓</button>
                    <button id="del" value="{{key.description}}">X</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</body>
{% endblock %}